<div class="poll-container">
    <h1>Create Poll</h1>
    <div>
        <form class="form" [formGroup]="pollForm" (ngSubmit)="onFormSubmit()">
            <div class="form-group">
                <textarea formControlName="question" class="form-control" row="3" cols="6" required placeholder="Enter your question"
                  [class.is-invalid]="f.question.touched && f.question.invalid"></textarea>
                <div *ngIf="f.question.touched && f.question.invalid">
                  <small class="text-danger" *ngIf="f.question.errors?.required">Please enter your question!</small>
                  <small class="text-danger" *ngIf="f.question.errors?.maxlength">Question is too long (Maximum 140 characters allowed.)</small>
                </div>
            </div>
            <div formArrayName="choices" *ngFor="let choice of f.choices.controls; let i = index;">
                <div class="input-group mb-3" [formGroupName]="i">
                    <input class="form-control" formControlName="text" placeholder="Choice {{i + 1}}">
                    <div class="input-group-append">
                        <span class="oi oi-x input-group-text" *ngIf="i > 1" (click)="removeChoice(i)"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-secondary" type="button" (click)="addChoice()" [disabled]="f.choices.controls.length > 5">
                    <span class="oi oi-plus"></span> Add a choice
                </button>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-3">
                        Poll length:
                    </div>
                    <div class="form-col">
                        <select class="form-control-sm d-inline-block" id="day" formControlName="days">
                            <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
                        </select>
                    </div>
                    <div class="col-md-2"><label class="d-inline-block" for="day">Days</label></div>
                    <div class="form-col">
                        <select class="form-control-sm d-inline-block" id="hour" formControlName="hours">
                            <option *ngFor="let hour of hours" [ngValue]="hour">{{hour}}</option>
                        </select>
                    </div>
                    <div class="col-md-2"><label class="d-inline-block" for="hour">Hours</label></div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" [disabled]="pollForm.invalid">Create Poll</button>
            </div>
        </form>
    </div>    
</div>