.poll-tab-group {
  max-width: 50%;
  margin: 0 auto;
}

.user-poll-details {
  margin-bottom: 44px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}
