<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" [routerLink]="['/']">Polling App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto" *ngIf="userProfile?.id">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
            ><i class="bi bi-house-door"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/poll/new']"
            routerLinkActive="active"
            ><i class="bi bi-reception-3"></i
          ></a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle"></i>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <span class="dropdown-item-text pb-0">{{
                userProfile?.name
              }}</span>
              <p class="dropdown-item-text text-muted py-0">
                @{{ userProfile?.username }}
              </p>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/users', userProfile?.username]"
                >Profile</a
              >
            </li>
            <li>
              <button class="btn btn-link dropdown-item" (click)="logout()">
                Logout
              </button>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto" *ngIf="!userProfile?.id">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/signup']"
            routerLinkActive="active"
            >Signup</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
